p {
  color: rgb(9, 9, 9);
}

body {
  background-color: rgb(248, 222, 183);
}

h1 {
  font-size: 3em;
}
table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 2px solid #f1ba3b;
      padding: 10px;
      text-align: left;
    }
    
    th {
      background-color: #f7d090;
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 8px;
      border: 2px solid #ddd;
      border-radius: 8px;
    }
    
    input[type="submit"] {
      background-color: #f493c3;
      color: white;
      padding: 13px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #78cecd;
    }
   
 <button class="transition-button">Hover me</button>

.transition-button {
        background-color: lightblue;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .transition-button:hover {
        background-color: lightcoral;
      }
      <div class="animation-box"></div>
      .animation-box {
        width: 50px;
        height: 50px;
        background-color: lightgreen;
        position: relative;
        animation: move 2s infinite alternate;
      }
      
      @keyframes move {
        from {
          left: 0;
        }
        to {
          left: 100px;
        }
      }
      .pseudo-list li:nth-child(odd) {
        background-color: rgb(245, 193, 156);
      }
      
      .pseudo-list li:nth-child(even) {
        background-color: rgb(245, 132, 130);
      }
      .filter-image {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
      }
      
      .filter-image:hover {
        filter: grayscale(0%);
      }
      
   .filter-image {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
      }
      
      .filter-image:hover {
        filter: grayscale(0%);
      }

      .quote {
        position: relative;
        padding-left: 20px;
        font-style: italic;
      }
      
      .quote::before {
        content: "<3";';
        font-size: 40px;
        position: absolute;
        left: 0;
        top: 0;
        color: rgb(53, 143, 92);
      }