p {
  color: rgb(9, 9, 9);
}

body {
  background-color: rgb(248, 222, 183);
}

h1 {
  font-size: 3em;
}
table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 2px solid #f1ba3b;
      padding: 10px;
      text-align: left;
    }
    
    th {
      background-color: #f7d090;
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 8px;
      border: 2px solid #ddd;
      border-radius: 8px;
    }
    
    input[type="submit"] {
      background-color: #f493c3;
      color: white;
      padding: 13px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #78cecd;
    }
   